<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1._KERN_A</key>
  <array>
    <string>A</string>
    <string>Adieresis</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aacute</string>
    <string>Aring</string>
    <string>Agrave</string>
    <string>Atilde</string>
    <string>Acircumflex</string>
    <string>Abreve</string>
    <string>Aringacute</string>
  </array>
  <key>public.kern1._KERN_C_1ST</key>
  <array>
    <string>C</string>
    <string>Ccaron</string>
    <string>Cacute</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>public.kern1._KERN_D_1ST</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Eth</string>
    <string>Dcroat</string>
  </array>
  <key>public.kern1._KERN_E_1ST</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Emacron</string>
    <string>Edotaccent</string>
    <string>Ecaron</string>
    <string>Eogonek</string>
    <string>AE</string>
    <string>OE</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Ebreve</string>
    <string>AEacute</string>
    <string>Etilde</string>
  </array>
  <key>public.kern1._KERN_G_1ST</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>Gcommaaccent</string>
  </array>
  <key>public.kern1._KERN_H_1ST</key>
  <array>
    <string>H</string>
    <string>Hcircumflex</string>
    <string>Hbar</string>
  </array>
  <key>public.kern1._KERN_I_1ST</key>
  <array>
    <string>I</string>
    <string>Iogonek</string>
    <string>Imacron</string>
    <string>Iacute</string>
    <string>Idotaccent</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Itilde</string>
    <string>Ibreve</string>
  </array>
  <key>public.kern1._KERN_J_1ST</key>
  <array>
    <string>J</string>
    <string>IJ</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern1._KERN_K_1ST</key>
  <array>
    <string>K</string>
    <string>Kcommaaccent</string>
  </array>
  <key>public.kern1._KERN_L_1ST</key>
  <array>
    <string>L</string>
    <string>Lcaron</string>
    <string>Lacute</string>
    <string>Lslash</string>
    <string>Lcommaaccent</string>
  </array>
  <key>public.kern1._KERN_N_1ST</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>Eng</string>
    <string>Ncommaaccent</string>
    <string>Ndotaccent</string>
  </array>
  <key>public.kern1._KERN_O_1ST</key>
  <array>
    <string>O</string>
    <string>Q</string>
    <string>Odieresis</string>
    <string>Ohungarumlaut</string>
    <string>Otilde</string>
    <string>Omacron</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Oslash</string>
    <string>Ograve</string>
    <string>Obreve</string>
    <string>Oslashacute</string>
    <string>Schwa</string>
  </array>
  <key>public.kern1._KERN_R_1ST</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
  </array>
  <key>public.kern1._KERN_S</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>uni0218</string>
    <string>uni015E</string>
  </array>
  <key>public.kern1._KERN_T</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>Tbar</string>
    <string>uni021A</string>
  </array>
  <key>public.kern1._KERN_U</key>
  <array>
    <string>U</string>
    <string>Udieresis</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>Uacute</string>
    <string>Uhungarumlaut</string>
    <string>Uogonek</string>
    <string>Ucircumflex</string>
    <string>Ugrave</string>
    <string>Utilde</string>
    <string>Ubreve</string>
  </array>
  <key>public.kern1._KERN_W</key>
  <array>
    <string>W</string>
    <string>Wcircumflex</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
  </array>
  <key>public.kern1._KERN_Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Ycircumflex</string>
    <string>Ygrave</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern1._KERN_Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern1._KERN_a_1ST</key>
  <array>
    <string>a</string>
    <string>amacron</string>
    <string>aacute</string>
    <string>aogonek</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>aring</string>
    <string>abreve</string>
    <string>aringacute</string>
  </array>
  <key>public.kern1._KERN_b_1ST</key>
  <array>
    <string>b</string>
    <string>thorn</string>
    <string>f_b</string>
    <string>f_f_b</string>
  </array>
  <key>public.kern1._KERN_c_1ST</key>
  <array>
    <string>c</string>
    <string>ccaron</string>
    <string>cacute</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
  </array>
  <key>public.kern1._KERN_colon</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern1._KERN_d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
  </array>
  <key>public.kern1._KERN_e_1ST</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>emacron</string>
    <string>edotaccent</string>
    <string>ecaron</string>
    <string>eogonek</string>
    <string>egrave</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>ae</string>
    <string>oe</string>
    <string>ebreve</string>
    <string>aeacute</string>
    <string>etilde</string>
  </array>
  <key>public.kern1._KERN_f_1ST</key>
  <array>
    <string>f</string>
    <string>f_f</string>
  </array>
  <key>public.kern1._KERN_f_i_1ST</key>
  <array>
    <string>f_f_i</string>
    <string>f_i</string>
  </array>
  <key>public.kern1._KERN_f_l_1ST</key>
  <array>
    <string>f_f_l</string>
    <string>f_l</string>
  </array>
  <key>public.kern1._KERN_g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gdotaccent</string>
    <string>gcommaaccent</string>
    <string>g.salt</string>
  </array>
  <key>public.kern1._KERN_guilsinglleft</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1._KERN_guilsinglright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern1._KERN_h_1ST</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
    <string>hbar</string>
    <string>c_h</string>
    <string>f_f_h</string>
    <string>f_h</string>
  </array>
  <key>public.kern1._KERN_hyphen</key>
  <array>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>uni00AD</string>
  </array>
  <key>public.kern1._KERN_i_1ST</key>
  <array>
    <string>i</string>
    <string>iacute</string>
    <string>iogonek</string>
    <string>imacron</string>
    <string>igrave</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>dotlessi</string>
    <string>itilde</string>
    <string>ibreve</string>
  </array>
  <key>public.kern1._KERN_j_1ST</key>
  <array>
    <string>j</string>
    <string>ij</string>
    <string>jcircumflex</string>
    <string>dotlessj</string>
    <string>f_f_j</string>
    <string>f_j</string>
  </array>
  <key>public.kern1._KERN_k.salt_1ST</key>
  <array>
    <string>kcommaaccent</string>
    <string>c_k</string>
    <string>f_f_k</string>
    <string>f_k</string>
    <string>k.salt</string>
  </array>
  <key>public.kern1._KERN_l_1ST</key>
  <array>
    <string>l</string>
    <string>lslash</string>
    <string>lcaron</string>
    <string>lacute</string>
    <string>lcommaaccent</string>
  </array>
  <key>public.kern1._KERN_n_1ST</key>
  <array>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ntilde</string>
    <string>napostrophe</string>
    <string>ncommaaccent</string>
    <string>ndotaccent</string>
  </array>
  <key>public.kern1._KERN_o_1ST</key>
  <array>
    <string>o</string>
    <string>p</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>otilde</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>ograve</string>
    <string>oslash</string>
    <string>obreve</string>
    <string>oslashacute</string>
    <string>c_p</string>
    <string>s_p</string>
    <string>schwa</string>
  </array>
  <key>public.kern1._KERN_period_1ST</key>
  <array>
    <string>comma</string>
    <string>period</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
  </array>
  <key>public.kern1._KERN_quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern1._KERN_quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1._KERN_quotesingle</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern1._KERN_r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>public.kern1._KERN_s_1ST</key>
  <array>
    <string>s</string>
    <string>scaron</string>
    <string>sacute</string>
    <string>scircumflex</string>
    <string>uni0219</string>
    <string>uni015F</string>
  </array>
  <key>public.kern1._KERN_t_1ST</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>uni0163</string>
    <string>tbar</string>
    <string>uni021B</string>
    <string>s_t</string>
    <string>c_t</string>
    <string>f_f_t</string>
    <string>f_t</string>
  </array>
  <key>public.kern1._KERN_u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>udieresis</string>
    <string>umacron</string>
    <string>uring</string>
    <string>uhungarumlaut</string>
    <string>uogonek</string>
    <string>ugrave</string>
    <string>ucircumflex</string>
    <string>utilde</string>
    <string>ubreve</string>
  </array>
  <key>public.kern1._KERN_w</key>
  <array>
    <string>w</string>
    <string>wcircumflex</string>
    <string>wgrave</string>
    <string>wacute</string>
    <string>wdieresis</string>
  </array>
  <key>public.kern1._KERN_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>ycircumflex</string>
    <string>ygrave</string>
    <string>ytilde</string>
  </array>
  <key>public.kern1._KERN_z_1ST</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>t_z</string>
  </array>
  <key>public.kern2._KERN_A</key>
  <array>
    <string>A</string>
    <string>Adieresis</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aacute</string>
    <string>Aring</string>
    <string>Agrave</string>
    <string>Atilde</string>
    <string>Acircumflex</string>
    <string>Abreve</string>
    <string>Aringacute</string>
  </array>
  <key>public.kern2._KERN_AE_2ND</key>
  <array>
    <string>AE</string>
    <string>AEacute</string>
  </array>
  <key>public.kern2._KERN_I_2ND</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>H</string>
    <string>I</string>
    <string>K</string>
    <string>L</string>
    <string>N</string>
    <string>P</string>
    <string>R</string>
    <string>Eacute</string>
    <string>Dcaron</string>
    <string>Emacron</string>
    <string>Edotaccent</string>
    <string>Ecaron</string>
    <string>Eogonek</string>
    <string>Iogonek</string>
    <string>Imacron</string>
    <string>Lcaron</string>
    <string>Lacute</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Iacute</string>
    <string>Lslash</string>
    <string>Ntilde</string>
    <string>Idotaccent</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Eth</string>
    <string>Thorn</string>
    <string>Dcroat</string>
    <string>Ebreve</string>
    <string>Hcircumflex</string>
    <string>Hbar</string>
    <string>Itilde</string>
    <string>IJ</string>
    <string>Ibreve</string>
    <string>Eng</string>
    <string>Kcommaaccent</string>
    <string>Lcommaaccent</string>
    <string>Ncommaaccent</string>
    <string>Rcommaaccent</string>
    <string>Etilde</string>
    <string>K.salt</string>
    <string>Ndotaccent</string>
    <string>R.salt</string>
  </array>
  <key>public.kern2._KERN_J_2ND</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern2._KERN_O_2ND</key>
  <array>
    <string>C</string>
    <string>G</string>
    <string>O</string>
    <string>Q</string>
    <string>Odieresis</string>
    <string>Ccaron</string>
    <string>Cacute</string>
    <string>Ohungarumlaut</string>
    <string>Otilde</string>
    <string>Omacron</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Ccedilla</string>
    <string>Oslash</string>
    <string>OE</string>
    <string>Gbreve</string>
    <string>Ograve</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>Obreve</string>
    <string>Oslashacute</string>
    <string>Gcommaaccent</string>
  </array>
  <key>public.kern2._KERN_S</key>
  <array>
    <string>S</string>
    <string>Scaron</string>
    <string>Sacute</string>
    <string>Scircumflex</string>
    <string>uni0218</string>
    <string>uni015E</string>
  </array>
  <key>public.kern2._KERN_T</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>Tbar</string>
    <string>uni021A</string>
  </array>
  <key>public.kern2._KERN_U</key>
  <array>
    <string>U</string>
    <string>Udieresis</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>Uacute</string>
    <string>Uhungarumlaut</string>
    <string>Uogonek</string>
    <string>Ucircumflex</string>
    <string>Ugrave</string>
    <string>Utilde</string>
    <string>Ubreve</string>
  </array>
  <key>public.kern2._KERN_W</key>
  <array>
    <string>W</string>
    <string>Wcircumflex</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
  </array>
  <key>public.kern2._KERN_Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ydieresis</string>
    <string>Ycircumflex</string>
    <string>Ygrave</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern2._KERN_Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern2._KERN_a_2ND</key>
  <array>
    <string>a</string>
    <string>amacron</string>
    <string>aacute</string>
    <string>aogonek</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>aring</string>
    <string>ae</string>
    <string>abreve</string>
    <string>aringacute</string>
    <string>aeacute</string>
  </array>
  <key>public.kern2._KERN_b_2ND</key>
  <array>
    <string>b</string>
    <string>thorn</string>
  </array>
  <key>public.kern2._KERN_colon</key>
  <array>
    <string>colon</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2._KERN_d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
  </array>
  <key>public.kern2._KERN_f_2ND</key>
  <array>
    <string>f</string>
    <string>f_b</string>
    <string>f_h</string>
    <string>f_i</string>
    <string>f_j</string>
    <string>f_k</string>
    <string>f_l</string>
    <string>f_t</string>
  </array>
  <key>public.kern2._KERN_f_f_2ND</key>
  <array>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>f_f_b</string>
    <string>f_f_h</string>
    <string>f_f_j</string>
    <string>f_f_k</string>
    <string>f_f_t</string>
  </array>
  <key>public.kern2._KERN_g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gdotaccent</string>
    <string>gcommaaccent</string>
    <string>g.salt</string>
  </array>
  <key>public.kern2._KERN_guilsinglleft</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern2._KERN_guilsinglright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2._KERN_h_2ND</key>
  <array>
    <string>h</string>
    <string>k</string>
    <string>germandbls</string>
    <string>hcircumflex</string>
    <string>hbar</string>
    <string>kcommaaccent</string>
    <string>k.salt</string>
  </array>
  <key>public.kern2._KERN_hyphen</key>
  <array>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>uni00AD</string>
  </array>
  <key>public.kern2._KERN_i_2ND</key>
  <array>
    <string>i</string>
    <string>iacute</string>
    <string>iogonek</string>
    <string>imacron</string>
    <string>igrave</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>dotlessi</string>
    <string>itilde</string>
    <string>ij</string>
    <string>ibreve</string>
  </array>
  <key>public.kern2._KERN_j_2ND</key>
  <array>
    <string>j</string>
    <string>jcircumflex</string>
    <string>dotlessj</string>
  </array>
  <key>public.kern2._KERN_l_2ND</key>
  <array>
    <string>l</string>
    <string>lslash</string>
    <string>lcaron</string>
    <string>lacute</string>
    <string>ldot</string>
    <string>lcommaaccent</string>
    <string>l_l</string>
  </array>
  <key>public.kern2._KERN_n_2ND</key>
  <array>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ntilde</string>
    <string>napostrophe</string>
    <string>eng</string>
    <string>ncommaaccent</string>
    <string>ndotaccent</string>
  </array>
  <key>public.kern2._KERN_o_2ND</key>
  <array>
    <string>c</string>
    <string>e</string>
    <string>o</string>
    <string>ccaron</string>
    <string>cacute</string>
    <string>eacute</string>
    <string>emacron</string>
    <string>oacute</string>
    <string>edotaccent</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>otilde</string>
    <string>ecaron</string>
    <string>eogonek</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>ograve</string>
    <string>oslash</string>
    <string>oe</string>
    <string>eth</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>ebreve</string>
    <string>obreve</string>
    <string>oslashacute</string>
    <string>c_h</string>
    <string>c_k</string>
    <string>c_p</string>
    <string>c_t</string>
    <string>etilde</string>
  </array>
  <key>public.kern2._KERN_period_2ND</key>
  <array>
    <string>comma</string>
    <string>period</string>
    <string>ellipsis</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
  </array>
  <key>public.kern2._KERN_quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern2._KERN_quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2._KERN_quotesingle</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2._KERN_r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>public.kern2._KERN_s_2ND</key>
  <array>
    <string>s</string>
    <string>scaron</string>
    <string>sacute</string>
    <string>scircumflex</string>
    <string>uni0219</string>
    <string>s_t</string>
    <string>s_p</string>
    <string>uni015F</string>
  </array>
  <key>public.kern2._KERN_t_2ND</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>uni0163</string>
    <string>tbar</string>
    <string>uni021B</string>
    <string>t_t</string>
    <string>t_z</string>
  </array>
  <key>public.kern2._KERN_u</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>udieresis</string>
    <string>umacron</string>
    <string>uring</string>
    <string>uhungarumlaut</string>
    <string>uogonek</string>
    <string>ugrave</string>
    <string>ucircumflex</string>
    <string>utilde</string>
    <string>ubreve</string>
  </array>
  <key>public.kern2._KERN_w</key>
  <array>
    <string>w</string>
    <string>wcircumflex</string>
    <string>wgrave</string>
    <string>wacute</string>
    <string>wdieresis</string>
  </array>
  <key>public.kern2._KERN_y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>ycircumflex</string>
    <string>ygrave</string>
    <string>ytilde</string>
  </array>
  <key>public.kern2._KERN_z_2ND</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
</dict>
</plist>
